<!DOCTYPE html>
<html>
<head>
    <title>影游互动</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="css/movieGame/swiper-3.4.0.min.css">
    <link rel="stylesheet" href="css/movieGame/main.css">
    <script type="text/javascript" src="js/movieGame/jquery.min.js"></script>
    <script type="text/javascript" src="js/movieGame/swiper-3.4.0.min.js"></script>
    <script type="text/javascript" src="js/movieGame/layout.js"></script>
    <script type="text/javascript" src="js/movieGame/main.js"></script>
</head>
<body style="position: inherit">
    <{if !empty($BANNERLIST)}>
        <div class="index-head">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <{section name=BANNERLOOP loop=$BANNERLIST}>
                    <div class="swiper-slide">
                        <a href="<{$BANNERLIST[BANNERLOOP].url}>&from=25"><img src="<{$BANNERLIST[BANNERLOOP].pic}>"></a>
                    </div>
                    <{/section}>
                </div>
            </div>
        </div>
    <{/if}>
    <div class="index-menu">
        <div class="index-menu-item">
            <a href="/project/index.php?r=partner/Game/Ranking&from=3" style="color:#FFB600"><img src="images/movieGame/ranking.png" alt="">
            <p>手游排行</p></a>
        </div>
        <div class="index-menu-item">
            <a href="/project/index.php?r=partner/Game/Gamepackage&from=3" style="color:#FF5D5D"><img src="images/movieGame/package.png" alt="">
            <p>游戏礼包</p></a>
        </div>
        <div class="index-menu-item">
            <a href="/project/index.php?r=partner/Game/NoInsert&from=3" style="color:#15EB3D"><img src="images/movieGame/noinstall.png" alt="">
                <p>免安装游戏</p></a>
        </div>
        <div class="index-menu-item">
            <a href="/project/index.php?r=partner/Game/MyGame&from=3" style="color:#A537E4"><img src="images/movieGame/my.png" alt="">
            <p>我的游戏</p></a>
        </div>
    </div>
    <div class="cHr"></div>
    <div class="index-hot-game">
        <div class="index-hot-title">
            <{if $FROM == 21}>
            <a href="/project/index.php?r=partner/Game/Index&from=3"><h3 style="color:#999">火热游戏</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=21"><h3>下载榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=22"><h3 style="color:#999">新品榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=23"><h3 style="color:#999">影视同期榜</h3></a>
            <{elseif $FROM == 22}>
            <a href="/project/index.php?r=partner/Game/Index&from=3"><h3 style="color:#999">火热游戏</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=21"><h3 style="color:#999">下载榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=22"><h3>新品榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=23"><h3 style="color:#999">影视同期榜</h3></a>
            <{elseif $FROM == 23}>
            <a href="/project/index.php?r=partner/Game/Index&from=3"><h3 style="color:#999">火热游戏</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=21"><h3 style="color:#999">下载榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=22"><h3 style="color:#999">新品榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=23"><h3>影视同期榜</h3></a>
            <{else}>
            <a href="/project/index.php?r=partner/Game/Index&from=3"><h3>火热游戏</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=21"><h3 style="color:#999">下载榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=22"><h3 style="color:#999">新品榜</h3></a>
            <a href="/project/index.php?r=partner/Game/Index&from=23"><h3 style="color:#999">影视同期榜</h3></a>
            <{/if}>
        </div>
        <{section name=HOTBANNERLOOP loop=$HOTBANNERLIST}>
        <div class="index-hot-item">
            <div class="index-hot-item-left">
                <img src="<{$HOTBANNERLIST[HOTBANNERLOOP].img}>" alt="">
            </div>
            <div class="index-hot-item-right">
                <{if $HOTBANNERLIST[HOTBANNERLOOP].introduce != ""}>
                <a href="/project/index.php?r=partner/Game/Gamedetail&gid=<{$HOTBANNERLIST[HOTBANNERLOOP].gid}>&from=3">
                    <{/if}>
                    <h3><{$HOTBANNERLIST[HOTBANNERLOOP].gname}></h3>
                    <p class="notice"><{$HOTBANNERLIST[HOTBANNERLOOP].describe}></p>
                    <p class="tip"><{if $HOTBANNERLIST[HOTBANNERLOOP].cate != ""}><{$HOTBANNERLIST[HOTBANNERLOOP].cate}> | <{/if}>
                        <{$HOTBANNERLIST[HOTBANNERLOOP].num_people}></p>
                    <{if $HOTBANNERLIST[HOTBANNERLOOP].introduce != ""}>
                </a>
                <{/if}>
                <button onclick="getAJAX('<{$HOTBANNERLIST[HOTBANNERLOOP].gid}>')"><{$HOTBANNERLIST[HOTBANNERLOOP].install}></button>
            </div>
        </div>
        <{/section}>

    </div>
    <div class="index-bottom-line" style="visibility:hidden">
        <p>人家是有底线的</p>
    </div>
    <div class="hide-tip" style="position:fixed;left: 0px;top: 0px;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);display: none;z-index: 5">
        <img src="images/movieGame/rightup.png" style="width: 60%;float: right;margin-right: 0.0853rem;margin-top: 0.0853rem;" >
    </div>
    <div style="width: 100%;height: 0.4181rem;"></div>
    <div class="index-foot">
        <div class="index-foot-item">
            <a href="/index.php">
            <img src="/public/front-2.0/images/index_1.png" alt="">
            <p>首页</p>
                </a>
        </div>
        <div class="index-foot-item">
            <a href="/cinema/movieselect.php">
                <img src="/public/front-2.0/images/ticket_0.png" alt="">
                <p>购票</p>
            </a>
        </div>
        <div class="index-foot-item active">
            <img src="/public/front-2.0/images/game_0.png" alt="">
            <p>游戏</p>
        </div>
        <div class="index-foot-item">
            <a href="/project/index.php?r=scoreStore/Site">
                <img src="/public/front-2.0/images/shop_0.png" alt="">
                <p>商城</p>
            </a>
        </div>
        <div class="index-foot-item">
            <a href="/usercenter/UserCenterIndex.html">
                <img src="/public/front-2.0/images/my_0.png" alt="">
                <p>我的</p>
            </a>
        </div>
    </div>
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplay : 3000
    });
    $(window).scroll(function() {
        if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
            $('.index-bottom-line').css('visibility','visible');
            setTimeout("remainTime()",2000);
        }
    });

    function remainTime(){
        $('.index-bottom-line').css('visibility','hidden');
    }

    function getAJAX(gid){
        var jsonData = {gid:gid};
        $.ajax({
            url: "/project/index.php?r=partner/Game/Install",
            data: jsonData,
            type: "post",
            success: function (data) {
                var json_str = JSON.parse(data);
                if(json_str.ERRORGAME == 0){
                    alert("请选择正确的下载/打开列表");
                    location.href = json_str.HREF;
                }else if(json_str.ERRORGAME == "isWeixin"){
                    $('.hide-tip').css("display","block");
                }else{
                    location.href = json_str.HREF;
                }
            },error: function (error) {

            }
        });
    }

    $('.hide-tip').click(function(){
        $('.hide-tip').css("display","none");
    });

</script>
    <script type="text/javascript" src="js/movieGame/navbar.js"></script>
<div style="display:none">
    <script src="https://s11.cnzz.com/z_stat.php?id=1256966228&web_id=1256966228" language="JavaScript"></script>
</div>
</body>
</html>