<!DOCTYPE html>
<html>
<head>
    <title>终极之战提前打响</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="zt/815/css.css">
    <script type="text/javascript" src="zt/term/layout.js"></script>
</head>
<body>
    <div class="container">
        <img src="zt/815/chargebox.jpg" alt="">
        <div class="good-box-term">
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=88"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=88"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=84"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=80"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=80"></a>
            <a href="/project/index.php?r=scoreStore/Site" style="width: 40%;margin: 0px auto;height: 0.35rem;margin-top: 0.27rem;"></a>
        </div>
    </div>
</body>
</html>