<!DOCTYPE html>
<html>
<head>
    <title>终极之战提前打响</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="zt/apes/css.css">
    <script type="text/javascript" src="zt/apes/layout.js"></script>
</head>
<body>
    <div class="container">
        <img src="zt/apes/apes-bg.jpg" alt="">
        <div class="good-box">
            <div class="good-group good-group-left">
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=102"></a>
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=103"></a>
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=104"></a>
            </div>
            <div class="good-group good-group-right">
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=102"></a>
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=103"></a>
                <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=105"></a>
            </div>
        </div>
    </div>
</body>
</html>