<!DOCTYPE html>
<html>
<head>
    <title>终极之战提前打响</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="zt/term/css.css">
    <script type="text/javascript" src="zt/term/layout.js"></script>
</head>
<body>
    <div class="container">
        <img src="zt/term/term-bg.jpg" alt="">
        <div class="good-box-term">
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=89"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=89"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=91"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=100"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=70"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=82"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=76"></a>
            <a href="/project/index.php?r=scoreStore/Site/GoodsDetail&gid=85"></a>
        </div>
    </div>
</body>
</html>