@charset "utf-8";
/* CSS Document */

/*


   (__)　imrgs 
　 /oo\\________ 
　 \　/　　　　 \---\ 
 　　\/　　　 /　 \　 \ 
 　　　\\_|___\\_|/　　* 
 　　　 ||　 YY|  
 　　　 ||　　|| 　


*/



*{ margin:0; padding:0; font-family: 'Microsoft Yahei';}
/*img{*/
    /*display:block;*/
/*}*/
a{ text-decoration:none;}
ul, li{ list-style:none;}
/**字号**/
.fz12{ font-size:0.30rem;}                                                                        
.fz14{ font-size:0.35rem;}
.fz16{ font-size:0.40rem;}
.fz18{ font-size:0.45rem;}
.fz20{ font-size:0.50rem;}
.fz22{ font-size:0.55rem;}
.fz24{ font-size:0.6rem;}
.fz26{ font-size:0.65rem;}
.fz28{ font-size:0.7rem;}
.fz30{ font-size:0.75rem;}
.fz32{ font-size:0.8rem;}
/**字颜色**/
.cofff{ color:#fff;}
.co000{ color:#000;}
.co888{ color:#888;}
.co333{ color:#333;}
.coffaf40{ color:#ffaf40;}
.coff3838{ color:#ff3838;}
.co00a2cb{ color:#00a2cb;}
.cof00{ color:#f00;}

/**定位**/
.p-r{ position:relative;left:10%;}
.p-a{ position:absolute;}
.p-f{ position:fixed;}



/*****/
.hei06{ line-height:0.6rem; height:0.6rem;}
.hei75{ line-height:0.75rem; height:0.75rem;}
.hei115{ line-height:1.15rem; height:1.15rem;}
.hei160{ line-height:1.6rem; height:1.6rem;}
.hei165{ line-height:1.65rem; height:1.65rem;}
.hei185{ line-height:1.85rem; height:1.85rem;}
.hei200{ line-height:2rem; height:2rem;}
.hei210{ line-height:2.4rem; height:2.1rem;}
/**背景**/
.bgffaf40{ background:#ffaf40;}/*主色*/
.bgffb54e{ background:#ffb54e;}
.bgffffff{ background:#fff;}
.bge61e1e{ background:#e61e1e;}
.bgd2d2d2{ background:#d2d2d2;}
.bge54646{ background:#e54646;}
.bg18b4ed{ background:#18b4ed;}
.bgf8fc6a{background:#f8fc6a;}
.bgeee{background:#eee;}
.bgff5836{ background:#ff5836;}
.bgdccccc{ background:#dccccc;}
.bgff6767{ background:#ff6767;}
.bgEF9000{ background:#EF9000;}

/**居中**/
.margin0{ margin:0 auto;}
.ta-l{ text-align:left}
.ta-r{ text-align:right}
.ta-a{ text-align: center;}
.fwb{ font-weight:bold;}


/**浮动**/
.fl-l{ float:left;}
.fl-r{ float:right;}

/**边框划线**/

.bor01{ border-bottom:1px solid #e5e5e5;}
.bor02{ border-bottom:1px solid #dddddd;}
.bor03{ border-left:1px solid #fff;}
.bor04{ border-left:1px solid #e5e5e5;}
.bor05{ border-bottom: 1px #fdc578 solid;}
.bor06{ border:1px solid #fff;}
.bor07{ border-top:1px solid #e5e5e5;}
.bor08{ border-bottom:1px solid #bfbfbf;}

.bor09{ border:3px solid #fff;}
.bor10{ border:3px solid #f00;}

.bor11{ border-right:1px solid #ddd;}
/**外边距**/
.mart1{ margin-top:0.25rem;}
.mart2{ margin-top:0.4rem;}
.mart3{ margin-top:0.5rem;}
.mart4{ margin-bottom:0.25rem;}
.mart5{ margin-bottom:0.4rem;}
.mart6{ margin-bottom:0.5rem;}
.mart7{ margin-top:0.8rem;}
.mart8{ margin-bottom:0.8rem;}
.mart9{ margin-top:1.6rem;}
.mart10{ margin-top:0.2rem;}
.mart11{ margin-top:2.4rem;}
.mart12{ margin-bottom:0.1rem;}
.mart13{ margin-right:0.4rem;}
.mart14{ margin-top:1rem;}
/**内边距**/
.pdd1{ padding-top:0.25rem;}
.pdd2{ padding-top:0.4rem;}
.pdd3{ padding-top:0.5rem;}
.pdd4{ padding-bottom:0.25rem;}
.pdd5{ padding-bottom:0.4rem;}
.pdd6{ padding-bottom:0.5rem;}
.pdd7{ padding:0.4rem;}
.pdd8{ padding-left:0.6rem;}
.pdd9{ padding-right:0.7rem;}
.pdd10{ padding:0.1rem 0.2rem;} 
.pdd11{ padding-right:0.3rem;} 
.pdd12{ padding-left:0.8rem;} 
.pdd13{ padding:0.75rem 0.8rem 0;}
.pdd14{ padding:0 0.8rem;}
.pdd15{ padding:0 0.4rem;}
.pdd16{ padding:0 0.75rem;}
.pdd17{ padding:0 0.4rem 0.4rem;}
.pdd18{ padding-left:1.5rem;}
.pdd19{ padding-right:1.5rem;}

.hddmacau3_suc .pdd17{ padding:0 3% 0.4rem;width: 94%;}
/**b**/
.clear{ clear:both}
.hidden{ overflow:hidden;}
.boxx{ width:16rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}
.d-block{ display:block;}

/************************************************************************************************/

.max-box{ width:16rem; margin:0 auto;+margin:0 auto;_margin:0 auto; clear:both;}

.top-ind{ height:2.2rem; line-height:2.2rem; text-align:center;}
.xxlie{ overflow:hidden; display:block; clear:both; margin-top:2.2rem;}






/****/

.m-top{ height:2rem; width:16rem; line-height:2rem; background:#5cc17f; font-size:0.75rem; color:#fff;}
.m-top img{ width:2rem; height:2rem;}
.mback{ left:0; top:0; display:block;}


.xg-xuanzuo{ background:url(../images/1212move.jpg) center no-repeat; height:5rem; background-size:100%; padding:0 0.8rem;}


.input1212{ width:10.6rem; height:1.2rem; border:0.05rem solid #ff5836; margin-bottom:0.3rem; background:#fff; padding-left:0.4rem; color:#888;}
.but1212{ float:left; height:2.7rem; width:2.25rem; border:0; background:#ff5836; color:#fff; margin-left:0.2rem;}
.login12{ width:13.55rem; margin:0.4rem auto;+margin:0.4rem auto;_margin:0.4rem auto;}

.input0115{ width:16rem; height:1.8rem; border:0; background:#fff; padding-left:0.8rem; color:#888; margin-bottom:0.2rem;}

.xgmvbg1{ background: url(../images/1212mvbg1.png) no-repeat center; height:4rem; width:14.4rem; background-size:14.4rem 4rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}
.xgmvbg1 span{ width:6.2rem; display: inline-block; float:left; margin-left:0.2rem; margin-top:0.1rem;}

.xgmvbg2{ background: url(../images/1212mvbg2.png) no-repeat center; height:4rem; width:14.4rem; background-size:14.4rem 4rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}
.xgmvbg2 span{ width:5rem; display: inline-block; float:left; margin-right:0.2rem; margin-top:0.1rem;}


.dasebg1{ background: url(../images/dasebg1.png) no-repeat center; height:3.25rem; width:14.4rem; background-size:14.4rem 3.25rem; margin:0 auto 0.4rem;+margin:0 auto 0.4rem;_margin:0 auto 0.4rem;}
.dasebg1 span{ width:6.2rem; display: inline-block; float:left; margin-left:0.2rem; margin-top:0.1rem;}

.dasebg2{ background: url(../images/dasebg2.png) no-repeat center; height:3.25rem; width:14.4rem; background-size:14.4rem 3.25rem; margin:0 auto 0.4rem;+margin:0 auto 0.4rem;_margin:0 auto 0.4rem;}
.dasebg2 span{ width:5.2rem; display: inline-block; float:left; margin-left:0.2rem; margin-top:0.1rem;}


.downbas{ width:16rem; margin:0 auto;+margin:0 auto;_margin:0 auto; padding-bottom:0.6rem; padding-top:0.5rem;}
.downbas .downbutton{ height:1.7rem; line-height:1.7rem; background:#5cc17f; width:14rem; border:0; margin:0.4rem auto;+margin:0.4rem auto;_margin:0.4rem auto; display:block;}








/**2016-1-15**/

.swshiyong{ width:1.85rem; text-align:center; color:#fff; border-radius:3px;}
.downbutton15{ height:1.5rem; line-height:1.5rem; background:#ff5836; width:4rem; border:0; margin:0.4rem auto;+margin:0.4rem auto;_margin:0.4rem auto; display:block; border-radius:5px;}
.downbutton16{ height:1.2rem; line-height:1.2rem; background:#ff5836; width:3rem; border:0; display:block; border-radius:5px;}
.dingxuanz{ top:1rem; right:0.5rem;}
.dingxuanz img{ width:1.85rem;}

.xgmvbg4{ background: url(../images/1212mvbg4.png) no-repeat center; height:4rem; width:14.4rem; background-size:14.4rem 4rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}
.xgmvbg4 span{ width:5rem; display: inline-block; float:left; margin-right:0.2rem; margin-top:0.1rem;}
.dweufudong{ height:2rem; line-height:2rem; background:#ddd; width:100%; bottom:0; left:0;}



/**2016年1月19日**/
.city-xz19{ height:2.1rem; background:#fff; width:13.8rem; padding:0 1.1rem;}
.border05{ border-radius:4px; border:1px solid #c0c0c0; padding-left:0.4rem; padding-right:0.4rem; margin-top:0.4rem;}
.border06{ border-radius:4px; border:1px solid #c0c0c0; margin-top:0.4rem; text-align:center;}

.city-xz20{ background:#fff; width:13.8rem; padding:0rem 1.1rem 0.4rem; overflow:hidden;}
.city-xz20 span{ width:3.45rem; float:left; display:block;}
.city-xz20 a span{ margin:0 auto;+margin:0 auto;_margin:0 auto; float:left; display:block;}


/***2016-1-21***/

.huod0121{ width:16rem; height:9rem; clear:both; float:left; position:relative; background:#fff; overflow:hidden;}
.huod0121 span{}
.huod0121 span img{ width:16rem; height:8.25rem;}
.huod0121 font img{ width:7.5rem; margin:0 auto;+margin:0 auto;_margin:0 auto; display:block; position:absolute; bottom:0.2rem; left:4.25rem;}

.diytime{ width:6rem; height:1.5rem; line-height:1.5rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}
.diytime font{ font-size:0.75rem; float:left; color:#f00;}
.time-item{ float:right;}
.time-item strong{background:#332525;color:#fff; height:1.1rem; line-height:1.1rem;font-family:Arial;padding:0 10px;margin-right:10px;box-shadow:1px 1px 3px rgba(255,45,4,0.6); float:left; margin-top:0.2rem;}
.time-item span{ float:right; font-size:0.8rem; font-weight:bold; color:#f00;}

.teda0121{ width:16rem; height:9.5rem; background:url(../images/tbg.jpg) no-repeat; background-size:16rem 9.5rem; clear:both; overflow:hidden;}
.tedatext{ width:12rem; margin:0 auto;+margin:0 auto;_margin:0 auto; height:7.5rem;}
.tedatext h3{ font-size:0.8rem; font-weight:400; color:#fff; margin-top:1.2rem; padding:0 0.3rem;}

.tedahead{ margin-top:0.9rem; float:left;}
.tedahead a{ display:block; overflow:hidden; float:left; width:3.9rem;}
.tedahead a img{ width:3rem; border-radius:50%; margin:0 auto;+margin:0 auto;_margin:0 auto; display:block;}

.butt0121{ width:8.5rem; height:1.5rem; border-radius:5px; background:#dd4b4b; border:0; font-size:0.85rem; margin:0.5rem auto;+margin:0.5rem auto;_margin:0.5rem auto; display:block; color:#fff;}
.redbutton{ width:83%; height:1.5rem; border-radius:5px; background:#DA3931; border:0; font-size:0.85rem; margin:1rem auto;+margin:0.5rem auto;_margin:0.5rem auto; display:block;color: #fff }

.datishm{ background:#742627; padding:0.5rem 0rem 1rem; overflow:hidden;}
.datishm h3{ width:3rem; margin:0 auto;+margin:0 auto;_margin:0 auto; margin-bottom:0.5rem;}
.datishm h3 img{ width:100%;}
.datishm p{ padding:0.1rem 0.6rem;}
.login-dte{ width:13.6rem; margin:0.5rem auto;+margin:0.5rem auto;_margin:0.5rem auto; background:#fff; padding:0rem 0 1rem; overflow:hidden;}
.login-dte-title{ float:left;}
.login-dte-title a{ width:6.8rem; float:left; height:1.5rem; line-height:1.5rem; font-size:0.75rem; text-align:center; color:#525050;}
.maininput{ width:12rem; border:0; border-bottom:1px solid #ddd; display:block; height:1.5rem; padding-left:15%; font-size:0.6rem; overflow:hidden; margin-bottom:0.5rem;}
.loginmaintext{
    width:100%;
    padding-top:1.5rem;
    float: left;}
.loginmaintext-lie{ width:80%;;+margin:0 auto;_margin:0 auto; display:block;}

.fasyzm{ width:3.75rem; height:1rem; background:#e7bf39; border-radius:0.5rem; border:0; font-size:0.5rem;-webkit-appearance: none;}


.mainbutton{ width:83%; height:2rem;float:left; background:#e7bf39; margin:1rem 8%;+margin:1rem 8%;_margin:1rem 8%; font-size:0.65rem; color:#4e0101; border:0; display:block;-webkit-appearance: none;}
.anquandengj{ width:3.15rem; height:0.5rem; border:1px solid #ddd; font-size:0.3rem;}
.anquandengj span{ width:1rem; float:left; text-align:center; line-height:0.5rem; border-right:0.05rem solid #ddd}
.fasyzm,.redbutton{-webkit-appearance: none;}
.indexshuoming{
    float: left;
    margin-top: -7.5rem;
    overflow: hidden;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    width: 87%;
}
.indexshuoming p{ padding-bottom:0.15rem;}

.ctyhq{ width:13.55rem; height:3.55rem; background:url(../images/youhuiquan.png) no-repeat; background-size:13.55rem 3.55rem; margin:0 auto;+margin:0 auto;_margin:0 auto;}


.shuliang24{ width:2.2rem;  height:1rem; line-height:1rem; border-radius:0.5rem; text-align:center; display:block;}

.bge6041b{ background:#e6041b;}
.bgdedede{ background:#dedede;}

.login-dtemg{
    width: 16rem;
    margin: 0rem auto;
    +margin:0.3rem auto;
    _margin:0.3rem auto;
    background: transparent;
    /*padding:0rem 0 1rem;*/
    overflow:hidden;
}
.login-dtemg input.moginput{
    background: #fff;
    border: none;
    border-radius: 0.3rem;
    padding-left: 0.8rem;
    font-size: 0.6rem;
    line-height: 1.5rem;
    border: 1px solid;
}
.mogmainbutton{
    width:83%;
    height:2rem;
    float:left;
    background:#FDFE00;
    margin:1rem 8%;
    +margin:1rem 8%;
    _margin:1rem 8%;
    font-size:0.65rem;
    color:#483E55;
    border:0;
    border-radius: 0.3rem;
    display:block;
    -webkit-appearance: none;
}
.choujiang{
    width:83%;
    height:2rem;
    float:left;
    background:#DA0203;
    margin:1rem 8%;
+margin:1rem 8%;
    _margin:1rem 8%;
    font-size:0.65rem;
    color:#655010;
    border:0;
    border-radius: 0.3rem;
    display:block;
    -webkit-appearance: none;
}
.mogfasyzm{
    width:3.75rem;
    height:1rem;
    line-height: 1rem;
    background:#e7bf39;
    border-radius:0.3rem;
    border:0;
    color: #fff;
    background:#e80018;
    text-align: center;
    font-size:0.5rem;
    -webkit-appearance: none;
}
#logo{
    position: absolute;
    left: 1rem;
    margin-top: 0.5rem;
    width: 12%;
}
#prize{
    position: absolute;
    /*left: 13.3rem;*/
    right: 0.5rem;
    margin-top: 3rem;
    width: 9%;
}
#share{
    position: absolute;
     /*left: 13.3rem;*/
    right: 0.5rem;
    margin-top: 0.5rem;
    width: 9%;
 }
.price{
    color: red;
}
.priceDesc{
    font-weight: 600;
    font-size: 1rem;
}

.register_bottom{
    width: 13rem;
    margin: 1rem auto;
    line-height: 0.8rem;
}
.dir{width: 100%;margin-top:0.63rem}
.dir .img_bg{width: 76%;margin:0rem auto;position: relative;}
.dir .img_bg img{width: 100%;}
.dir .img_bg p{width:100%;position: absolute;top: 1.2rem;color:#3c3c3c;text-align: center;font-size: 0.72rem;}
.dir .img_bg span{font-size: 0.72rem;color:red;}
.dir .cheap_buy{width: 64%;margin:0rem auto;margin-top: 0.63rem;position: relative;font-size: 0.6rem;}
.dir .cheap_buy p{text-align: center;}
.dir .cheap_buy .lefttime{margin-top:0rem;color:red;font-size: 0.8rem;margin-top: 0.756rem;}
.dir .cheap_buy .button{width: 100%;margin:0rem auto;margin-top: 0.945rem;}
.dir .cheap_buy .deco{width: 70%;height: 1.7rem;position: absolute;top:0.3rem;left: 15%;}
.dir .cheap_buy .deco img{height:100%;}
.dir .instru{width: 64%;margin:0px auto;font-size: 0.66rem;margin-top: 1.05rem;}
.dir .instru p{}
.dir .instru p span{color:red;}
.dir .hr{width: 92%;height: 1px;background: #000;margin:0px auto;margin-top: 1.47rem;}
.dir_2 .img_bg p{top: 1.6rem;color:green;}
.dir_2 .cheap_buy .button{width: 100%;margin:0rem auto;margin-top: 1.68rem;margin-bottom: 2rem;}
