<!DOCTYPE html>
<html>
<head>
	<title>订单详情</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="css/scoreStore/css_v2.5.css">
	<script src="../js/lib/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/scoreStore/layout.js"></script>
	<style>
		input,.chNum{-webkit-tap-highlight-color:rgba(255,255,255,0);}
	</style>
</head>
<body style="background-color: #fafafa">
<!--
<div class="order-head">
    <div style="height: 1px;"></div>
    <h3>收货人：<span>卡卡西</span><small>13444383832</small></h3>
    <p>收货地址：<span>我家啊哈哈我家我家啊哈哈我家我家啊深刻的就a啊啊啊啊啊啊啊啊啊啊啊</span></p>
</div>
-->
<{if !empty($USERADDRESS)}>
<a href="/project/index.php?r=scoreStore/Site/UserAddressList&aid=<{$USERADDRESS.aid}>&gid=<{$GOODSINFO.gid}>" style="text-decoration:none;color:#333;">
	<div class="order-head">
		<div style="height: 1px;"></div>
		<h3>收货人：<span><{$USERADDRESS.receiver_name}></span><small><{$USERADDRESS.receiver_phone}></small></h3>
		<p>收货地址：<span><{$USERADDRESS.area}> <{$USERADDRESS.address}></span></p>
		<img src="images/scoreStore/order_01.png">
	</div>
</a>
<{else}>
<a href="/project/index.php?r=scoreStore/Site/UserAddressList&uid=<{$UINFO.iUserID}>&gid=<{$GOODSINFO.gid}>" style="text-decoration: none;color:#999">
	<div class="order-head">
		<div style="height: 1px;"></div>
		<p style="line-height: 0.8533rem;font-size: 0.128rem;text-align: center;margin: 0px;">请填写收货地址</p>
		<img src="images/scoreStore/order_01.png">
	</div>
</a>
<{/if}>

<form action="/project/index.php?r=scoreStore/Site/GoodsExchange" method="post" name="orderForm">
	<div class="good-head">
		<div class="good-head-title">
			<div class="good-head-left">
				<img src="<{$GOODSINFO.list_pic}>">
			</div>
			<div class="good-head-right">
				<h3><{$GOODSINFO.name}></h3>
				<p class="Mprice"><{if $GOODSINFO.extra_price!=0}>¥<{$GOODSINFO.extra_price}>＋<{/if}><{$GOODSINFO.price}>E豆<span class="nNum">×1</span></p>
			</div>
		</div>
		<div class="good-type-group">
			<{section name=ATTRILOOP loop=$GOODSINFO.attribute}>
			<div class="good-type-item">
				<div class="good-type-item-left"><p><{$GOODSINFO.attribute[ATTRILOOP].name}></p></div>
				<div class="good-type-item-right">
					<{section name=VALUELOOP loop=$GOODSINFO.attribute[ATTRILOOP].value}>
					<div class="type-item type-item<{$smarty.section.ATTRILOOP.index}>" data-value="<{$GOODSINFO.attribute[ATTRILOOP].value[VALUELOOP].price}>" data-num="<{$GOODSINFO.attribute[ATTRILOOP].value[VALUELOOP].num}>"><p><{$GOODSINFO.attribute[ATTRILOOP].value[VALUELOOP].size}></p></div>
					<{/section}>
				</div>
			</div>
			<{/section}>
		</div>
		<div class="good-mun">
			<p>购买数量<small>限购数量：<{$USERALLOWEXCHANGENUM}></small><span>
				<input type="button" name="" class="chNum" value="-"><strong class="valNum">1</strong>
				<input type="button" name="" class="chNum" value="+"></span></p>
		</div>
		<div class="good-roadway">
			<p>配送方式
				<{if $GOODSINFO.send_cost>0}>
				<span><{$GOODSINFO.send_cost}>元运费</span>
				<{else}>
				<span>快递包邮</span>
				<{/if}>
			</p>
		</div>
	</div>
	<div class="pay-head">
		<{if $GOODSINFO.extra_price>0 or $GOODSINFO.send_cost>0}>
		<div class="pay-item" style="background-color: #fafafa"><p>支付方式</p></div>
		<div class="payWay">
			<div class="pay-item"><p>余额支付<input style="position:absolute;right:0.0853rem;top:10%;height:80%;" type="radio" name="payType" value="400003"></p></div>
			<{if $ISWXVISITOR}>
			<div class="pay-item"><p>微信支付<input style="position:absolute;right:0.0853rem;top:10%;height:80%;" type="radio" name="payType" value="400001"></p></div>
			<{else}>
			<div class="pay-item"><p>支付宝支付<input style="position:absolute;right:0.0853rem;top:10%;height:80%;" type="radio" name="payType" value="400002"></p></div>
			<{/if}>
			<div class="hr"></div>
		</div>
		<{/if}>

	</div>
	<div style="height:0.8533rem;"></div>
	<div class="pay-commit">
		<!--
		<div class="pay-commit-left"><p>合计：<span class="totPrice">￥10.00+30E豆</span></p></div>
		-->
		<{if $GOODSINFO.extra_price>0}>
		<div class="pay-commit-left"><p>合计：<span class="totPrice">￥<{$GOODSINFO.extra_price+$GOODSINFO.send_cost}>+<{$GOODSINFO.price}>E豆</span></p></div>
		<{elseif $GOODSINFO.send_cost>0}>
		<div class="pay-commit-left"><p>合计：<span class="totPrice">￥<{$GOODSINFO.send_cost}>+<{$GOODSINFO.price}>E豆</span></p></div>
		<{else}>
		<div class="pay-commit-left"><p>合计：<span class="totPrice"><{$GOODSINFO.price}>E豆</span></p></div>
		<{/if}>

		<div class="pay-commit-right"><input type="button" class="btn" value="立即支付" onclick="checkParam()"></div>
	</div>

	<input type="hidden" name="gid" id="gid" value="<{$GOODSINFO.gid}>">
	<input type="hidden" name="aid" id="aid" value="<{if !empty($USERADDRESS)}><{$USERADDRESS.aid}><{/if}>">
	<input type="hidden" name="payNum" id="payNum" value="1">
	<input type="hidden" name="subFlag" id="subFlag" value="1">
	<input type="hidden" name="sourceType" class="sourceType" value="1">
	<input type="hidden" name="payPrice" class="payPrice" value="1">
</form>

</body>
<script>
	var numFlag=1;
	var MaxVal="<{$USERALLOWEXCHANGENUM}>";    //库存限制
	var Eprice="<{$GOODSINFO.price}>";          //E豆价格
	var sendcost="<{$GOODSINFO.send_cost}>";   //运费
	var Mprice="<{$GOODSINFO.extra_price}>";   //现金价格
	var type0Num="<{$GOODSINFO.attrValueNum[0]}>";
	var type1Num="<{$GOODSINFO.attrValueNum[1]}>";
	var type2Num="<{$GOODSINFO.attrValueNum[2]}>";
	var typeName=$('.good-type-item-left p');
	var typeArr=new Array(0,0,0);
	var buyNumArr=new Array(0,0,0);
	var nameArr=new Array(0,0,0);
	$(function(){
		clickSourceType();
		clickNumType();
	})

	//页面初始化-选择商品类别并判断商品价格和数量
	function clickSourceType(){
		var typeNum = 0;
		for(var i=0;i<$('.type-item').length;i++){
			$('.type-item')[i].i=i;
			if($('.type-item')[i].dataset.num<1){
				$('.type-item').eq(i).css("background","#eee");
				$('.type-item').eq(i).css("color","#999");
				$('.type-item').eq(i).css("border","1px solid #ccc");
				continue;
			}
			$('.type-item')[i].onclick=function(){
				typeNum++;
				$('.valNum').eq(0).html(1);
				$('.chNum').eq(0).removeClass('active')
				$('.chNum').eq(1).addClass('active')
				if(this.i<type0Num){
					$('.type-item0').each(function(){
						$(this).removeClass('active')
					})
					$('.type-item').eq(this.i).addClass('active')
					typeArr[0]=$('.type-item')[this.i].dataset.value;
					buyNumArr[0]=$('.type-item')[this.i].dataset.num;
					nameArr[0]=typeName.eq(0).html();
				}else if(this.i<parseInt(type0Num)+parseInt(type1Num)){
					$('.type-item1').each(function(){
						$(this).removeClass('active')
					})
					$('.type-item').eq(this.i).addClass('active')
					typeArr[1]=$('.type-item')[this.i].dataset.value;
					buyNumArr[1]=$('.type-item')[this.i].dataset.num;
					nameArr[1]=typeName.eq(1).html();
				}else{
					$('.type-item2').each(function(){
						$(this).removeClass('active')
					})
					$('.type-item').eq(this.i).addClass('active')
					typeArr[2]=$('.type-item')[this.i].dataset.value;
					buyNumArr[2]=$('.type-item')[this.i].dataset.num;
					nameArr[2]=typeName.eq(2).html();
				}
				if(typeNum==typeName.length){
					typeNum--;
					Mprice=0;
					for(var j=0;j<typeName.length;j++){
						if(parseFloat(typeArr[j])<=0){
							return;
						}
						Mprice=Mprice+parseFloat(typeArr[j]);
					}
					var minNum=parseInt(buyNumArr[0]);
					var buyMinNum = "<{$USERALLOWEXCHANGENUM}>";
					for(var j=0;j<typeName.length;j++){
						if(minNum>parseInt(buyNumArr[j])){
							minNum = parseInt(buyNumArr[j]);
						}
					}
					if(minNum<buyMinNum){
						buyMinNum = minNum;
						MaxVal = buyMinNum;
					}
					$('.good-mun small').html("限购数量："+buyMinNum);
					if(buyMinNum==1){
						$('.chNum').eq(1).removeClass('active')
					}
					var s=Mprice.toString()
					var sf=s.indexOf('.')
					var sL=Mprice.toString().length
					if(sf<0){
						s+='.00'
					}else{
						if(sL-1-sf==1){
							s+='0'
						}else if(sL-1-sf==2){

						}else{
							s=Mprice.toFixed(2)
						}
					}
					$('.Mprice').eq(0).html('¥'+Mprice+'＋<{$GOODSINFO.price}>E豆<span class="nNum">×1</span>')
					$('.totPrice').eq(0).html('￥'+(parseFloat(s)+parseFloat(sendcost))+'+'+parseInt($('.valNum').eq(0).html())*Eprice+'E豆')
				}
			}
		}
	}

	//页面初始化-点击数量判断选择类型
	function clickNumType(){
		if(parseInt($('.valNum').eq(0).html())<MaxVal){
			$('.chNum').eq(1).addClass('active')
		}
		for(var i=0;i<$('.chNum').length;i++){
			$('.chNum')[i].i=i
			$('.chNum')[i].onclick=function(){
				var flag = 0;
				for(var i=0;i<typeName.length;i++) {
					var type_item = '.type-item'+i;
					$(type_item).each(function (ids, items) {
						if($(this).attr("data-num") < 1){
							flag++;
						}
					});
					if(flag == $(type_item).length){
						alert("该商品已售完");
						break;
					}
					flag=0;
				}
				if(flag==0){
					for(var j=0;j<nameArr.length;j++){
						var fl=0;
						if(j<typeName.length){
							if(nameArr[j]!=typeName.eq(j).html()){
								fl++;
								alert("请选择商品"+typeName.eq(j).html());
								break;
							}
						}
					}
					if(fl==0){
						changeNum(this.i,MaxVal,Eprice,Mprice)
					}
				}
			}
		}
	}
	//数量改变价格显示
	function changeNum(i,MaxVal,Eprice,Mprice){
		if(i==0){
			//-
			if(parseInt($('.valNum').eq(0).html())>1){
				$('.valNum').eq(0).html(parseInt($('.valNum').eq(0).html())-1)
				$('.chNum').eq(1).addClass('active')
				if(parseInt($('.valNum').eq(0).html())==1){
					$('.chNum').eq(0).removeClass('active')
				}
			}
		}else{
			//+
			if(parseInt($('.valNum').eq(0).html())<MaxVal){
				$('.valNum').eq(0).html(parseInt($('.valNum').eq(0).html())+1)
				$('.chNum').addClass('active')
				if(parseInt($('.valNum').eq(0).html())==MaxVal){
					$('.chNum').eq(1).removeClass('active')
				}
			}
		}
		$('.nNum').eq(0).html('×'+parseInt($('.valNum').eq(0).html()))
		var tolMPrice=parseInt($('.valNum').eq(0).html())*Mprice
		var s=tolMPrice.toString()
		var sf=s.indexOf('.')
		var sL=tolMPrice.toString().length
		if(sf<0){
			s+='.00'
		}else{
			if(sL-1-sf==1){
				s+='0'
			}else if(sL-1-sf==2){

			}else{
				s=tolMPrice.toFixed(2)
			}
		}
		$('.totPrice').eq(0).html('￥'+(parseFloat(s)+parseFloat(sendcost))+'+'+parseInt($('.valNum').eq(0).html())*Eprice+'E豆')
	}

	function checkParam(){
		var aid = $("#aid").val().trim();
		if(aid=="")
		{
			alert("请填写收货地址...");
			return false;
		}

		//判断商品类型
		var flag = 0;
		for(var i=0;i<typeName.length;i++) {
			var type_item = '.type-item'+i;
			$(type_item).each(function (ids, items) {
				if($(this).attr("data-num") < 1){
					flag++;
				}
			});
			if(flag == $(type_item).length){
				alert("该商品已售完");
				break;
			}
			flag=0;
		}
		if(flag==0){
			for(var j=0;j<nameArr.length;j++){
				var fl=0;
				if(j<typeName.length){
					if(nameArr[j]!=typeName.eq(j).html()){
						fl++;
						alert("请选择商品"+typeName.eq(j).html());
						break;
					}
				}
			}
			if(fl>0){
				return false;
			}
		}else{
			return false;
		}
		var _tableValue="";
		$('.type-item').each(function(ids,items){
			if($(items).hasClass("active")){
				//表示选中
				_tableValue+=$(items).find('p').html()+',';
			}
		})
		$('.sourceType').val(_tableValue);

		//支付
		var payType = "";
		var chkObjs = document.getElementsByName("payType");
		for(var i=0;i<chkObjs.length;i++){
			if(chkObjs[i].checked){
				payType = chkObjs[i].value;
				break;
			}
		}
		numFlag = parseInt($('.valNum').eq(0).html());
		$("#payNum").val(numFlag);  //支付的数量
		var payAccount = (numFlag*parseInt(Mprice)+parseInt("<{$GOODSINFO.send_cost}>")).toFixed(1);
		if(payAccount>0 && payType=="")
		{
			alert("请选择支付方式");
			return false;
		}

		if(payType=="400003" && parseFloat(payAccount)>parseFloat("<{$UINFO.mAccountMoney}>"))
		{
			alert("您的余额不足，请充值...");
			return false;
		}
		$('.payPrice').val(Mprice);
		orderForm.submit();
	}
</script>
</html>