@charset "utf-8";
/* CSS Document */

/*全局属性*/html, body{padding: 0px;margin: 0px;-webkit-user-select: none;-webkit-text-size-adjust: none;font-family: "黑体-简" , "微软雅黑" ,Arial, Helvetica, sans-serif;}
input{font-family: "黑体-简" , "微软雅黑" ,Arial, Helvetica, sans-serif;}
*{margin: 0;padding: 0;list-style-type: none;font-weight: normal;}

a{text-decoration: none;}
img{ margin:0; padding:0; border:0;}

.float-l{float: left;}
.boxx{ width:16rem; margin:0 auto; padding:0;}

.indextop{ width:16rem; float:left; overflow:hidden; clear:both; margin:0; padding:0; display:block;}